useDynLib(FindIt, .registration = TRUE)	
import(glmnet)
import(lars)
import(arm,arm)
import(quadprog)
import(glinternet)
import(ggplot2)
import(sandwich)
import(lmtest)
importFrom(Matrix, Matrix,cBind)
importFrom(igraph, triangles, graph_from_adjacency_matrix,components)
import(stats)
importFrom("graphics", "abline", "arrows", "identify", "plot", "text")
importFrom("graphics", "Axis", "par", "segments")
importFrom("stats", "as.formula", "coef", "cor", "delete.response", "lm", "model.frame", "model.matrix", "predict", "rnorm","sd","terms","var")
importFrom("utils","combn","tail")
export(FindIt, summary.FindIt, predict.FindIt, plot.PredictFindIt,CausalANOVA, summary.CausalANOVA, plot.CausalANOVA,cv.CausalANOVA,plot.cv.CausalANOVA,test.CausalANOVA, ConditionalEffect)

S3method(summary, FindIt)
S3method(predict, FindIt)
S3method(plot, PredictFindIt)
S3method(summary, CausalANOVA)
S3method(plot, CausalANOVA)
S3method(plot, cv.CausalANOVA)
